@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@200;300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* body {
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
} */

.App[data-theme="light"] {
    --main-bg: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
    --main-color: black;
    --svg-color: rgb(54, 52, 52);
    --form-bg: rgba(76, 72, 72, 0.181);
}
.App[data-theme="dark"] {
    --main-bg: radial-gradient(
        circle,
        rgb(41, 60, 106) 0%,
        rgb(6, 22, 41) 100%
    );
    --main-color: rgba(238, 174, 202, 1);
    --svg-color: rgb(0, 0, 0);
    --form-bg: rgba(129, 125, 125, 0.284);
}
.App {
    background: var(--main-bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 600;
}
.pixel {
    font-family: "Press Start 2P", cursive;
}

.container {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar:nth-child(1) {
    animation: bnce 0.7s 0.1s infinite alternate;
}
@keyframes bnce {
    30% {
        height: 30px;
        background-color: var(--main-color);
    }
    60% {
        height: 50px;
        background-color: var(--main-color);
    }
    100% {
        height: 20px;
        background-color: var(--main-color);
    }
}
.bar:nth-child(2) {
    animation: bnce2 0.5s 0.5s infinite alternate;
}
@keyframes bnce2 {
    20% {
        height: 50px;
        background-color: var(--main-color);
    }
    40% {
        height: 30px;
        background-color: var(--main-color);
    }
    100% {
        height: 60px;
        background-color: var(--main-color);
    }
}
.bar:nth-child(3) {
    animation: bnce3 0.8s 0.3s infinite alternate;
}
@keyframes bnce3 {
    80% {
        height: 70px;
    }
    100% {
        background-color: var(--main-color);
    }
}
.bar:nth-child(4) {
    animation: bnce4 0.6s 0.7s infinite alternate;
}
@keyframes bnce4 {
    70% {
        height: 45px;
    }
    100% {
        background-color: var(--main-color);
    }
}
.bar:nth-child(5) {
    animation: bnce5 0.5s 0.2s infinite alternate;
}
@keyframes bnce5 {
    60% {
        height: 20px;
    }
    100% {
        background-color: var(--main-color);
    }
}

.MuiOutlinedInput-colorSecondary {
    border: none;
}

@layer components {
    .upStyle {
        @apply enabled:active:shadow-[inset_5px_10px_10px_black] enabled:focus:shadow-[inset_1px_3px_4px_black] 
        border-t    border-t-indigo-100    border-b  enabled:hover:border-b-indigo-100
        shadow-[1px_3px_4px_black];
    }
    .downStyle {
        @apply border-b  border-b-indigo-100 p-4   rounded-xl   
        shadow-[inset_1px_3px_4px_black];
    }
    .upStyleNoAnim {
        @apply border-t  rounded-xl     border-b-transparent border-t-indigo-100   border-b  shadow-[1px_3px_4px_black];
    }
    .upStyleNoAnimDarkRound {
        border: 0.2rem solid #fff;
        border-radius: 2rem;
        padding: 0.4em;

        border-radius: 100%;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
    }
    .upStyleNoAnimDark {
        border: 0.2rem solid #fff;
        border-radius: 2rem;
        padding: 0.4em;

        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
        /* @apply border-t  rounded-xl     border-b-transparent border-t-indigo-100    border-b  shadow-[1px_3px_4px_black]; */
    }

    .neonText {
        animation: flicker 1.5s infinite alternate;
        color: #fff;
    }
    .neonBar {
        border: 0.2rem solid #fff;
        border-radius: 2rem;
        padding: 0.4em;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
    }
    .bar {
        background-color: red;
        width: 10px;
        height: 0;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        @apply dark:neonBar;
    }

    .staticNeonText {
        color: #fff;
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
            0 0 40px #00ff0d, 0 0 80px #00ff0d, 0 0 90px #00ff0d,
            0 0 100px #00ff0d, 0 0 150px #00ff0d;
    }
    .staticNeonTextBlue {
        color: #fff;
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
            0 0 40px #3700ff, 0 0 80px #3700ff, 0 0 90px #3700ff,
            0 0 100px #3700ff, 0 0 150px #3700ff;
    }
    .staticNeonTextRed {
        color: #ffffff;
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
            0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000,
            0 0 100px #ff0000, 0 0 150px #ff0000;
    }
    .staticNeonTextPink {
        color: #fff;
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
            0 0 40px #f507ed, 0 0 80px #f507ed, 0 0 90px #f507ed,
            0 0 100px #f507ed, 0 0 150px #f507ed;
    }
    .staticNeonStyleGreen {
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #29c402, 0 0 0.5em #29c402,
            0 0 0.1em #29c402, 0 10px 3px #000;
    }
    .staticNeonStylePurple {
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #c200e9, 0 0 0.5em #c200e9,
            0 0 0.1em #c200e9, 0 10px 3px #000;
    }
}
.MuiPaginationItem-text {
    color: var(--main-color) !important;
}
.Mui-selected {
    color: white !important;
}

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}

/* Flickering animation */
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
            0 0 40px rgb(255, 0, 140), 0 0 80px rgb(255, 0, 140),
            0 0 90px rgb(255, 0, 140), 0 0 100px rgb(255, 0, 140),
            0 0 150px rgb(255, 0, 140);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.neon-button {
    font-size: 4rem;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

    position: relative;
}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}

.logo {
    text-align: center;
    width: 35%;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.logo b {
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
        0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
    animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

#btn-twtr {
    clear: both;
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    width: 13em;
    padding: 5px 10px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}
#btn-twtr:hover {
    color: #fff;
    opacity: 1;
}

.testStyle {
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff44ca, 0 0 0.5em #ff44ca,
        0 0 0.1em #ff44ca, 0 10px 3px #000;
}
.testStyleGreen {
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #29c402, 0 0 0.5em #29c402,
        0 0 0.1em #29c402, 0 10px 3px #000;
}
